.loading {
  z-index: 1111;
  position: fixed;
  text-align: center;
  left: 0;
  right: 0;
  top: 40%;
}
.loading .loadWords {
  font-weight: normal;
  font-size: 80px;
  color: rgb(160, 22, 141);
  margin: 0.6rem 0 2rem 0;
  display: block;
}
.loading .loading__anim {
  width: 35px;
  height: 35px;
  border: 5px solid rgba(189, 189, 189, 0.25);
  border-left-color: rgb(146, 16, 172);
  border-top-color: rgb(120, 3, 229);
  border-radius: 50%;
  display: inline-block;
  -webkit-animation: rotate 600ms infinite linear;
          animation: rotate 600ms infinite linear;
}
@-webkit-keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}