body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}

.loading {
  z-index: 1;
  position: fixed;
  text-align: center;
  left: 0;
  right: 0;
  top: 40%;
}
.loading .loadWords {
  font-weight: normal;
  font-size: 20px;
  color: rgb(160, 22, 141);
  margin: 0.6rem 0 2rem 0;
  display: block;
}
.loading .loading__anim {
  width: 35px;
  height: 35px;
  border: 5px solid rgba(189, 189, 189, 0.25);
  border-left-color: rgb(146, 16, 172);
  border-top-color: rgb(120, 3, 229);
  border-radius: 50%;
  display: inline-block;
  -webkit-animation: rotate 600ms infinite linear;
          animation: rotate 600ms infinite linear;
}
@-webkit-keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

.navbar {
  justify-content: center;
}

.container img {
  width: 150px;
  height: 150px;
  margin: auto;
  padding: 10px;
}
.container .card {
  height: 310px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.container .card:hover .showDetail {
  opacity: 1;
}
.container section {
  position: absolute;
  bottom: 10px;
}
.container .showDetail {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80%;
  opacity: 0;
  transition: all 0.5s;
  background-color: rgba(255, 251, 251, 0.932);
}
.container .showDetail li {
  font-size: large;
  list-style: none;
}

#showBag {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  background: white;
  display: none;
}
#showBag img {
  width: 80px;
  height: 80px;
}
#showBag td i {
  font-size: 30px;
}
#showBag td i:hover {
  cursor: pointer;
  color: red;
}/*# sourceMappingURL=index.css.map */